- widgets = Database.widgets

- if params[:edit]
  - name_id = widgets[params[:edit].to_i].name_id rescue nil
  :javascript
    $(document).ready(function(){
      $('.edit-#{name_id}').show()
    })
- if params[:url]
  - name_id = widgets[params[:url].to_i].name_id rescue nil
  :javascript
    $(document).ready(function(){
      $('.add-#{name_id}').show()
    })

- #Database.add_widget(Widget.new("First Widget"))

- widgets.each_with_index do |widget, w_index|
  .widget
    %div{ :style => "float:right;margin: -4px -3px 0 0;" }
      %a{ :href => "javascript:void(0)", :onclick => "$('.edit-#{widget.name_id}').toggle()" }
        %small
          == x
      %small= " | "
      %a{ :href => "javascript:void(0)", :onclick => "$('.add-#{widget.name_id}').toggle()" }
        %small== +
    %h2{  }= widget.title
    %a{ :href => "/delete?type=widget&index=#{w_index}", :style => "float:left;margin-top:8px;margin-left:10px;", :class => "edit-#{widget.name_id} edit" }
      %small
        == delete section
    %div{ :style => "float:left;clear:both;" }
      %ul
        - widget.bookmarkers.compact.each_with_index do |bookmark, b_index|
          %li
            = "<a href='/delete?type=bookmarker&w_index=#{w_index}&b_index=#{b_index}' class='edit-#{widget.name_id} edit'><small>x</small></a> <a href='http://#{bookmark.url}' target='_blank' title='#{bookmark.note}'>#{bookmark.title}</a>"
            - if bookmark.note and bookmark.note != ""
              = "<small>- <em>#{bookmark.note}</em></small>"
            - unless ( b_index == 0 )
              = "<a href='/move?dir=-1&w_index=#{w_index}&b_index=#{b_index}' class='edit-#{widget.name_id} edit'>&uarr;</a>"
            - unless ( b_index == widget.bookmarkers.compact.length-1 )
              = "<a href='/move?dir=1&w_index=#{w_index}&b_index=#{b_index}' class='edit-#{widget.name_id} edit'>&darr;</a>"
            
    %form{:action => "/add", :class => "add-#{widget.name_id}", :style => "display:none;float:right;margin:-10px;" }
      %input{:type => "hidden", :name => "type", :value => "bookmarker"}
      %input{:type => "hidden", :name => "index", :value => "#{w_index}"}
      %input{:type => "text", :name => "url", :placeholder => "example.com"}
      %br
      %input{:type => "text", :name => "title", :placeholder => "title"}
      %br
      %input{:type => "text", :name => "note", :placeholder => "note"}
      %br
      %input{:type => "submit", :value => "add url"}
  
.add_widget
  %a{ :href => "javascript:void(0)", :onclick => "$('#widget_form').toggle()"}
    == + section
  %form{:action => "/add", :id => :widget_form, :style => "display:none;margin-top:15px;"}
    %input{:type => "hidden", :name => "type", :value => "widget"}
    %input{:type => "text", :name => "title", :placeholder => "Title..."}
    %input{:type => "submit", :value => "add section"}